@font-face {
  font-family: 'fk-lineal';
  src:  url('fonts/fk-lineal.eot?5aj7jd');
  src:  url('fonts/fk-lineal.eot?5aj7jd#iefix') format('embedded-opentype'),
    url('fonts/fk-lineal.ttf?5aj7jd') format('truetype'),
    url('fonts/fk-lineal.woff?5aj7jd') format('woff'),
    url('fonts/fk-lineal.svg?5aj7jd#fk-lineal') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fk-lineal-"], [class*=" fk-lineal-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fk-lineal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fk-lineal-blackboard:before {
  content: "\e900";
}
.fk-lineal-boy:before {
  content: "\e901";
}
.fk-lineal-couple-3:before {
  content: "\e902";
}
.fk-lineal-driver:before {
  content: "\e903";
}
.fk-lineal-backpack:before {
  content: "\e904";
}
.fk-lineal-car:before {
  content: "\e905";
}
.fk-lineal-girl-1:before {
  content: "\e906";
}
.fk-lineal-pregnant:before {
  content: "\e907";
}
.fk-lineal-baby-stroller:before {
  content: "\e908";
}
.fk-lineal-car-1:before {
  content: "\e909";
}
.fk-lineal-grandmother:before {
  content: "\e90a";
}
.fk-lineal-sharpener:before {
  content: "\e90b";
}
.fk-lineal-car-2:before {
  content: "\e90c";
}
.fk-lineal-clip:before {
  content: "\e90d";
}
.fk-lineal-daughter:before {
  content: "\e90e";
}
.fk-lineal-newborn-1:before {
  content: "\e90f";
}
.fk-lineal-glue:before {
  content: "\e910";
}
.fk-lineal-grandmother-1:before {
  content: "\e911";
}
.fk-lineal-pot:before {
  content: "\e912";
}
.fk-lineal-taxi:before {
  content: "\e913";
}
.fk-lineal-bus:before {
  content: "\e914";
}
.fk-lineal-grandfather-1:before {
  content: "\e915";
}
.fk-lineal-highlighter:before {
  content: "\e916";
}
.fk-lineal-stroller:before {
  content: "\e917";
}
.fk-lineal-bus-1:before {
  content: "\e918";
}
.fk-lineal-couple-2:before {
  content: "\e919";
}
.fk-lineal-crayons:before {
  content: "\e91a";
}
.fk-lineal-man-1:before {
  content: "\e91b";
}
.fk-lineal-book:before {
  content: "\e91c";
}
.fk-lineal-home:before {
  content: "\e91d";
}
.fk-lineal-mother:before {
  content: "\e91e";
}
.fk-lineal-trailer:before {
  content: "\e91f";
}
.fk-lineal-birthday-cake:before {
  content: "\e920";
}
.fk-lineal-books:before {
  content: "\e921";
}
.fk-lineal-car-3:before {
  content: "\e922";
}
.fk-lineal-twins:before {
  content: "\e923";
}
.fk-lineal-backpack-1:before {
  content: "\e924";
}
.fk-lineal-car-4:before {
  content: "\e925";
}
.fk-lineal-pyramid:before {
  content: "\e926";
}
.fk-lineal-umbrella:before {
  content: "\e927";
}
.fk-lineal-book-1:before {
  content: "\e928";
}
.fk-lineal-church:before {
  content: "\e929";
}
.fk-lineal-home-2:before {
  content: "\e92a";
}
.fk-lineal-trailer-1:before {
  content: "\e92b";
}
.fk-lineal-balloons:before {
  content: "\e92c";
}
.fk-lineal-clip-1:before {
  content: "\e92d";
}
.fk-lineal-thinking-1:before {
  content: "\e92e";
}
.fk-lineal-truck:before {
  content: "\e92f";
}
.fk-lineal-calculator:before {
  content: "\e930";
}
.fk-lineal-concrete-mixer:before {
  content: "\e931";
}
.fk-lineal-pregnancy:before {
  content: "\e932";
}
.fk-lineal-thinking:before {
  content: "\e933";
}
.fk-lineal-crane:before {
  content: "\e934";
}
.fk-lineal-exam:before {
  content: "\e935";
}
.fk-lineal-grandfather:before {
  content: "\e936";
}
.fk-lineal-ultrasound:before {
  content: "\e937";
}
.fk-lineal-ambulance:before {
  content: "\e938";
}
.fk-lineal-grandmother1:before {
  content: "\e939";
}
.fk-lineal-insurance:before {
  content: "\e93a";
}
.fk-lineal-paint:before {
  content: "\e93b";
}
.fk-lineal-family:before {
  content: "\e93c";
}
.fk-lineal-father:before {
  content: "\e93d";
}
.fk-lineal-fire-truck:before {
  content: "\e93e";
}
.fk-lineal-folders:before {
  content: "\e93f";
}
.fk-lineal-forklift:before {
  content: "\e940";
}
.fk-lineal-girl:before {
  content: "\e941";
}
.fk-lineal-locker:before {
  content: "\e942";
}
.fk-lineal-man:before {
  content: "\e943";
}
.fk-lineal-boy1:before {
  content: "\e944";
}
.fk-lineal-dog-house:before {
  content: "\e945";
}
.fk-lineal-globe:before {
  content: "\e946";
}
.fk-lineal-train:before {
  content: "\e947";
}
.fk-lineal-children:before {
  content: "\e948";
}
.fk-lineal-locomotive:before {
  content: "\e949";
}
.fk-lineal-mortarboard:before {
  content: "\e94a";
}
.fk-lineal-parents:before {
  content: "\e94b";
}
.fk-lineal-cat:before {
  content: "\e94c";
}
.fk-lineal-certificate:before {
  content: "\e94d";
}
.fk-lineal-couple:before {
  content: "\e94e";
}
.fk-lineal-locomotive-1:before {
  content: "\e94f";
}
.fk-lineal-couple-1:before {
  content: "\e950";
}
.fk-lineal-freight-wagon:before {
  content: "\e951";
}
.fk-lineal-grandparents:before {
  content: "\e952";
}
.fk-lineal-medal:before {
  content: "\e953";
}
.fk-lineal-baby-girl:before {
  content: "\e954";
}
.fk-lineal-cat1:before {
  content: "\e955";
}
.fk-lineal-trophy:before {
  content: "\e956";
}
.fk-lineal-wagon:before {
  content: "\e957";
}
.fk-lineal-diploma:before {
  content: "\e958";
}
.fk-lineal-home-1:before {
  content: "\e959";
}
.fk-lineal-plant:before {
  content: "\e95a";
}
.fk-lineal-subway:before {
  content: "\e95b";
}
.fk-lineal-basketball:before {
  content: "\e95c";
}
.fk-lineal-couple1:before {
  content: "\e95d";
}
.fk-lineal-motorbike:before {
  content: "\e95e";
}
.fk-lineal-mug:before {
  content: "\e95f";
}
.fk-lineal-baby-boy:before {
  content: "\e960";
}
.fk-lineal-goal:before {
  content: "\e961";
}
.fk-lineal-motorbike-1:before {
  content: "\e962";
}
.fk-lineal-shirt-2:before {
  content: "\e963";
}
.fk-lineal-motorbike-2:before {
  content: "\e964";
}
.fk-lineal-pet:before {
  content: "\e965";
}
.fk-lineal-school:before {
  content: "\e966";
}
.fk-lineal-shirt-1:before {
  content: "\e967";
}
.fk-lineal-care-2:before {
  content: "\e968";
}
.fk-lineal-dog:before {
  content: "\e969";
}
.fk-lineal-school-bus:before {
  content: "\e96a";
}
.fk-lineal-scooter:before {
  content: "\e96b";
}
.fk-lineal-bicycle:before {
  content: "\e96c";
}
.fk-lineal-grandfather1:before {
  content: "\e96d";
}
.fk-lineal-home1:before {
  content: "\e96e";
}
.fk-lineal-scissors:before {
  content: "\e96f";
}
.fk-lineal-bell:before {
  content: "\e970";
}
.fk-lineal-family1:before {
  content: "\e971";
}
.fk-lineal-house-1:before {
  content: "\e972";
}
.fk-lineal-wheelchair:before {
  content: "\e973";
}
.fk-lineal-cruiser:before {
  content: "\e974";
}
.fk-lineal-picture:before {
  content: "\e975";
}
.fk-lineal-sandwich:before {
  content: "\e976";
}
.fk-lineal-son:before {
  content: "\e977";
}
.fk-lineal-atom:before {
  content: "\e978";
}
.fk-lineal-ship:before {
  content: "\e979";
}
.fk-lineal-sofa:before {
  content: "\e97a";
}
.fk-lineal-care-1:before {
  content: "\e97b";
}
.fk-lineal-microscope:before {
  content: "\e97c";
}
.fk-lineal-yatch:before {
  content: "\e97d";
}
.fk-lineal-apple:before {
  content: "\e97e";
}
.fk-lineal-boat:before {
  content: "\e97f";
}
.fk-lineal-tree-house:before {
  content: "\e980";
}
.fk-lineal-cableway:before {
  content: "\e981";
}
.fk-lineal-ruler:before {
  content: "\e982";
}
.fk-lineal-shirt:before {
  content: "\e983";
}
.fk-lineal-care:before {
  content: "\e984";
}
.fk-lineal-desk:before {
  content: "\e985";
}
.fk-lineal-zeppelin:before {
  content: "\e986";
}
.fk-lineal-beach-ball:before {
  content: "\e987";
}
.fk-lineal-compass:before {
  content: "\e988";
}
.fk-lineal-hot-air-balloon:before {
  content: "\e989";
}
.fk-lineal-airplane:before {
  content: "\e98a";
}
.fk-lineal-calendar:before {
  content: "\e98b";
}
.fk-lineal-trailer1:before {
  content: "\e98c";
}
.fk-lineal-airplane-1:before {
  content: "\e98d";
}
.fk-lineal-dog1:before {
  content: "\e98e";
}
.fk-lineal-test-tube:before {
  content: "\e98f";
}
.fk-lineal-airplane-2:before {
  content: "\e990";
}
.fk-lineal-feeding:before {
  content: "\e991";
}
.fk-lineal-pencil-case:before {
  content: "\e992";
}
.fk-lineal-airplane-3:before {
  content: "\e993";
}
.fk-lineal-family-tree:before {
  content: "\e994";
}
.fk-lineal-playground:before {
  content: "\e995";
}
.fk-lineal-airplane-4:before {
  content: "\e996";
}
.fk-lineal-music:before {
  content: "\e997";
}
.fk-lineal-van:before {
  content: "\e998";
}
.fk-lineal-fireplace:before {
  content: "\e999";
}
.fk-lineal-space-shuttle:before {
  content: "\e99a";
}
.fk-lineal-uniform:before {
  content: "\e99b";
}
.fk-lineal-house:before {
  content: "\e99c";
}
.fk-lineal-jet-fighter:before {
  content: "\e99d";
}
.fk-lineal-teacher:before {
  content: "\e99e";
}
.fk-lineal-album:before {
  content: "\e99f";
}
.fk-lineal-helicopter:before {
  content: "\e9a0";
}
.fk-lineal-student:before {
  content: "\e9a1";
}
.fk-lineal-helicopter-1:before {
  content: "\e9a2";
}
.fk-lineal-newborn:before {
  content: "\e9a3";
}
.fk-lineal-tennis:before {
  content: "\e9a4";
}
.fk-lineal-chalk:before {
  content: "\e9a5";
}
.fk-lineal-girl1:before {
  content: "\e9a6";
}
.fk-lineal-traffic-light:before {
  content: "\e9a7";
}
.fk-lineal-car-key:before {
  content: "\e9a8";
}
.fk-lineal-marker:before {
  content: "\e9a9";
}
.fk-lineal-pacifier:before {
  content: "\e9aa";
}
.fk-lineal-abacus:before {
  content: "\e9ab";
}
.fk-lineal-highway:before {
  content: "\e9ac";
}
.fk-lineal-son1:before {
  content: "\e9ad";
}
.fk-lineal-lunch-box:before {
  content: "\e9ae";
}
.fk-lineal-mother1:before {
  content: "\e9af";
}
.fk-lineal-ticket:before {
  content: "\e9b0";
}
.fk-lineal-body:before {
  content: "\e9b1";
}
.fk-lineal-pencil-case-1:before {
  content: "\e9b2";
}
.fk-lineal-traffic-cone:before {
  content: "\e9b3";
}
.fk-lineal-abc:before {
  content: "\e9b4";
}
.fk-lineal-tape:before {
  content: "\e9b5";
}
.fk-lineal-alarm-clock:before {
  content: "\e9b6";
}
.fk-lineal-writing:before {
  content: "\e9b7";
}
.fk-lineal-notebook:before {
  content: "\e9b8";
}
.fk-lineal-telescope:before {
  content: "\e9b9";
}
.fk-lineal-notepad:before {
  content: "\e9ba";
}
.fk-lineal-question:before {
  content: "\e9bb";
}
.fk-lineal-teacher-1:before {
  content: "\e9bc";
}
.fk-lineal-milkshake:before {
  content: "\e9bd";
}
.fk-lineal-car-key1:before {
  content: "\e9be";
}
.fk-lineal-road:before {
  content: "\e9bf";
}
.fk-lineal-double-decker:before {
  content: "\e9c0";
}
.fk-lineal-cone:before {
  content: "\e9c1";
}
.fk-lineal-all-terrain:before {
  content: "\e9c2";
}
.fk-lineal-rocket:before {
  content: "\e9c3";
}
.fk-lineal-destination:before {
  content: "\e9c4";
}
.fk-lineal-helmet:before {
  content: "\e9c5";
}
.fk-lineal-scooter-1:before {
  content: "\e9c6";
}
.fk-lineal-plane:before {
  content: "\e9c7";
}
.fk-lineal-car-21:before {
  content: "\e9c8";
}
.fk-lineal-bus-stop:before {
  content: "\e9c9";
}
.fk-lineal-ship-propeller:before {
  content: "\e9ca";
}
.fk-lineal-garage:before {
  content: "\e9cb";
}
.fk-lineal-stick:before {
  content: "\e9cc";
}
.fk-lineal-bike:before {
  content: "\e9cd";
}
.fk-lineal-motorbike1:before {
  content: "\e9ce";
}
.fk-lineal-driving-license:before {
  content: "\e9cf";
}
.fk-lineal-rv:before {
  content: "\e9d0";
}
.fk-lineal-van1:before {
  content: "\e9d1";
}
.fk-lineal-crane-truck:before {
  content: "\e9d2";
}
.fk-lineal-road-block:before {
  content: "\e9d3";
}
.fk-lineal-submarine:before {
  content: "\e9d4";
}
.fk-lineal-sport-car:before {
  content: "\e9d5";
}
.fk-lineal-airport:before {
  content: "\e9d6";
}
.fk-lineal-sail-boat:before {
  content: "\e9d7";
}
.fk-lineal-zeppelin1:before {
  content: "\e9d8";
}
.fk-lineal-road-sign:before {
  content: "\e9d9";
}
.fk-lineal-bicycle1:before {
  content: "\e9da";
}
.fk-lineal-cable-car:before {
  content: "\e9db";
}
.fk-lineal-locomotive1:before {
  content: "\e9dc";
}
.fk-lineal-bus1:before {
  content: "\e9dd";
}
.fk-lineal-anchor:before {
  content: "\e9de";
}
.fk-lineal-cruise-ship:before {
  content: "\e9df";
}
.fk-lineal-airplane1:before {
  content: "\e9e0";
}
.fk-lineal-car-11:before {
  content: "\e9e1";
}
.fk-lineal-taxi1:before {
  content: "\e9e2";
}
.fk-lineal-helicopter1:before {
  content: "\e9e3";
}
.fk-lineal-hot-air-balloon1:before {
  content: "\e9e4";
}
.fk-lineal-scooter1:before {
  content: "\e9e5";
}
.fk-lineal-rudder:before {
  content: "\e9e6";
}
.fk-lineal-gps:before {
  content: "\e9e7";
}
.fk-lineal-gas-station:before {
  content: "\e9e8";
}
.fk-lineal-tram:before {
  content: "\e9e9";
}
.fk-lineal-direction-sign:before {
  content: "\e9ea";
}
.fk-lineal-boat1:before {
  content: "\e9eb";
}
.fk-lineal-traffic-light1:before {
  content: "\e9ec";
}
.fk-lineal-truck1:before {
  content: "\e9ed";
}
.fk-lineal-steering-wheel:before {
  content: "\e9ee";
}
.fk-lineal-car1:before {
  content: "\e9ef";
}
