<template>
    <div>
        <div class="side-list-holder animated slideInLeft">
            <filter-tabs :tabs="tabs" @tab-selected="onTabSelected($event)"></filter-tabs>
            <ul class="simple-list">
                <vue-scroll :ops="ops">
                <li class="simple-list-item" v-for="(activity, key) in visibleActivities()" :key="key" 
                @click="selectActivity(activity)" :class="{ active: isSelected(activity) }">
                    <div class="top clearfix">
                        <button class="more"><mdi-dots-vertical-icon /></button>
                        <h1>{{ activity.name }}</h1>
                    </div>
                    <p>{{ activity.description }}</p>
                    <div class="bottom clearfix">
                        <div class="tag-button" style="padding-left: 6px">
                            <mdi-account-group-icon />
                            <span>{{ activity.enrollees.length }}</span>
                        </div>
                        <popper trigger="hover" :options="{ placement: 'bottom' }" :delay-on-mouse-over="500">
                            <div class="popper">
                                <div class="days">
                                    <h1>Schedule</h1>
                                    <ul>
                                        <li class="clearfix" v-for="(activeDay, key) in activity.activeDays" :key="key">
                                            <span class="day">{{ activeDay.day }}</span>
                                            <span class="time">
                                                {{ formatTimeString(activeDay.timePeriod.start) }} - 
                                                {{ formatTimeString(activeDay.timePeriod.end) }}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tag-button actionable" slot="reference" style="padding-left: 5px">
                                <mdi-calendar-select-icon />
                                <span>{{ activity.activeDays.length }}</span>
                            </div>
                        </popper>
                        <div class="tag-button" style="padding-left: 2px">
                            <mdi-currency-usd-icon />
                            <span style="margin-left: 0">{{ activity.cost }}</span>
                        </div>
                    </div>
                </li>
                </vue-scroll>
            </ul>
        </div>
        <div class="side-list-beside">
            <div class="placeholder">
                <div v-if="selectedActivity === null">
                    <img src="@/assets/img/son.png" alt="son" />
                    <h1>Select an <b>Extra Curricular Activity</b> to see the kinds who have enrolled</h1>
                </div>
                <div v-if="selectedActivity !== null && selectedActivity.enrollees.length === 0">
                    <mdi-emoticon-sad-icon />
                    <h1>Sorry, there are no children enrolled in this activity.</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
@import '@/assets/css/globals.scss';
$side-list-width: 350px;

.side-list-holder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $side-list-width;
    background: #E6EBF1;
    border-right: 1px solid #E5EAF0;
    box-shadow: inset rgba(0,0,0,0.04) 0 -2px 4px;
    padding: 20px;
    box-sizing: border-box;
    animation-duration: 0.3s;

    .filter-tabs {
        z-index: 100;

        .indicator {
            background: $main-color;
        }

        ul {
            text-align: center;
        }
    }

    .simple-list {
        position: absolute;
        z-index: 99;
        top: 57px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        border-top: 1px solid #d3d3d3;

        .simple-list-item {
            background: #fff;
            box-shadow: rgba(0,0,0,0.1) 0 0 10px;
            border-radius: 3px;
            margin: 0 20px 15px 20px;
            padding: 15px;
            font-size: 14px;
            border: 1px solid #d3d3d3;
            transition: all 0.2s ease-in-out;
            cursor: default;

            &.active {
                border-color: $main-color;
                box-shadow: rgba($main-color-dark, 0.7) 0 0 10px;
            }

            &:nth-of-type(1) {
                margin-top: 30px;
            }

            &:last-child {
                margin-bottom: 60px;
            }

            p {
                color: #707070;
                font-weight: 300;
                line-height: 20px;
            }

            .top {
                margin-bottom: 10px;

                h1 {
                    float: left;
                    color: #555;
                    font-weight: 700;
                    margin-top: 5px;
                    font-size: 14px;
                }

                .more {
                    float: right;
                    background: none;
                    border: none;
                    outline: none;
                    padding: 0;
                    margin-right: -5px;

                    svg {
                        fill: $main-color;
                    }

                    &:hover {
                        cursor: pointer;

                        svg {
                            fill: $main-color-dark;
                        }
                    }
                }
            }

            .bottom {
                margin-top: 15px;

                .popper {
                    background: #fff;
                    border-radius: 5px;
                    border: 1px solid #d6d6d6;
                    box-shadow: rgba(0,0,0,0.15) 0 0 10px;

                    .days {
                        width: 250px;
                        padding: 15px;
                        box-sizing: border-box;

                        h1 {
                            font-size: 14px;
                            font-weight: 700;
                            margin-bottom: 15px;
                        }

                        ul {
                            li {
                                margin-bottom: 10px;
                                font-size: 12px;

                                .day {
                                    float: left;
                                    font-weight: 700;
                                    color: $main-color-dark;
                                }

                                .time {
                                    float: right;
                                }
                            }
                        }
                    }
                }

                .tag-button {
                    float: right;
                    margin-left: 15px;
                    padding: 3px 10px;
                    border-radius: 2px;
                    background: #EDF3FC;
                    border: 1px solid lighten($main-color, 20%);
                    box-shadow: rgba($main-color-dark, 0.3) 0 0 4px;
                    transition: all 0.2s ease-in-out;
                    cursor: default;

                    svg {
                        margin-top: 2px;
                        height: 18px;
                        fill: $main-color;
                        text-anchor:start;
                    }

                    span {
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 10px;
                        margin-top: 6px;
                        font-weight: 700;
                        color: $main-color;
                    }

                    &.actionable {
                        &:hover {
                            cursor: pointer;
                            border: 1px solid lighten($main-color, 5%);
                            box-shadow: rgba($main-color-dark, 0.8) 0 0 4px;
                        }
                    }
                }
            }
        }
    }
}
.side-list-beside {
    position: absolute;
    left: $side-list-width;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 25px;
    box-sizing: border-box;

    .placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 120px;
        width: 250px;
        margin: -60px 0 0 -125px;
        text-align: center;

        img {
            height: 64px;
        }

        svg {
            width: 60px;
            height: 60px;
            fill: #b1b1b1;
        }

        h1 {
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;

            b {
                color: $main-color;
                font-weight: 900;
            }
        }
    }
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import moment from 'moment';
import _ from 'lodash';
import Popper from 'vue-popperjs';
import 'vue-popperjs/dist/css/vue-popper.css';
import FilterTabs from '@/components/filterTabs.vue';
import ExtraCurricularActivity from '@/models/ExtraCurricularActivity';
import ExtraCurricularService from '@/services/extraCurricularService';
import 'mdi-vue/CurrencyUsdIcon';
import 'mdi-vue/AccountGroupIcon';
import 'mdi-vue/CalendarSelectIcon';
import 'mdi-vue/DotsVerticalIcon';
import 'mdi-vue/EmoticonSadIcon';

@Component({
    components: {
        FilterTabs,
        Popper,
    },
})
export default class ExtraCurriculars extends Vue {
    private tabs = ['All Activities', 'Just For Today'];
    private seletedTab = null;
    private activities: ExtraCurricularActivity[] = [];
    private selectedActivity = null;
    private ops = {
        vuescroll: {},
        scrollPanel: {},
        rail: {},
        bar: {
            onlyShowBarOnScroll: false,
            background: '#1c507a',
        },
    };

    private created() {
        this.$store.commit('adderButton/setVisibility', true);
        this.$store.commit('setPage', 'Extra Curricular Activities');
        ExtraCurricularService.fetchAll()
        .then((data: ExtraCurricularActivity[]) => {
            this.activities = data;
        });
    }

    private visibleActivities(): ExtraCurricularActivity[] {
        if (this.seletedTab === null || this.seletedTab === this.tabs[0]) {
            return this.activities;
        }
        const today = moment().format('dddd');
        return this.activities.filter((activity) => {
            return _.some(activity.activeDays, { day: today });
        });
    }

    private onTabSelected(tab) {
        this.seletedTab = tab;
    }

    private selectActivity(activity) {
        this.selectedActivity = activity;
    }

    private isSelected(activity) {
        return this.selectedActivity && this.selectedActivity.id === activity.id;
    }

    private formatTimeString(time: string) {
        return moment(time, 'HH:mm').format('hh:mm a');
    }
}
</script>