<template>
    
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Dashboard extends Vue {
    private created() {
        this.$store.commit('adderButton/setVisibility', false);
        this.$store.commit('setPage', 'Dashboard');
    }
}
</script>
