<template>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Classes extends Vue {
    private created() {
        this.$store.commit('adderButton/setVisibility', true);
        this.$store.commit('setPage', 'Classrooms');
    }
}
</script>