<template>
    <div id="main">
        <sidebar></sidebar>
        <div id="content">
            <header-bar></header-bar>
            <div id="page">
                <router-view></router-view>
            </div>
        </div>
        <adder-button></adder-button>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SidebarMenu from '@/components/sidebarMenu.vue';
import HeaderBar from '@/components/headerBar.vue';
import AdderButton from '@/components/adderButton.vue';

@Component({
    components: {
        headerBar: HeaderBar,
        sidebar: SidebarMenu,
        adderButton: AdderButton,
    },
})
export default class Main extends Vue {

}
</script>

<style lang="scss">
@import '@/assets/css/globals.scss';

#main {
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#content {
    position: fixed;
    z-index: 10;
    left: $sidebar-width;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fafafa;
}

#page {
  position: absolute;
  top: $header-bar-height;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  box-sizing: content-box;
  overflow: auto;
  background: #EFF2F6;
}
</style>

