<template>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Students extends Vue {
    private created() {
        this.$store.commit('adderButton/setVisibility', false);
        this.$store.commit('setPage', 'Students');
    }
}
</script>