<template>
    <transition enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
        <button v-if="isVisible()" @click="onClick()" class="adder-button">
            <i class="es-add"></i>
        </button>
    </transition>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AdderButton extends Vue {
    private isVisible() {
        return this.$store.getters['adderButton/isVisible'];
    }

    private onClick() {
        this.$store.dispatch('adderButton/triggerCallback');
    }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/globals.scss';

.adder-button {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    left: 120px;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    font-size: 16px;
    line-height: 55px;
    color: #fff;
    outline: none;
    background: $main-color;
    box-shadow: rgba(37, 128, 180, 0.2) 4px 10px 10px;
    transition: all 0.2s ease-in-out;

    &.enter-active {
        box-shadow: none;
    }

    &:hover {
        cursor: pointer;
        background: $main-color-dark;
        box-shadow: rgba(37, 128, 180, 0.2) 2px 5px 5px;
    }
}
</style>
