<template>
    <div class="filter-tabs">
        <ul>
            <li v-for="(tab, index) in tabs" :key= "index">
                <button @click="onTabClick(tab)" :disabled="isDisabled" :class="{ active: isSelected(tab) }">{{ tab }}</button>
            </li>
        </ul>
        <div class="indicator" ref="indicator"></div>
    </div>
</template>

<style lang="scss" scoped>
@import '@/assets/css/globals.scss';

$button-height: 30px;

.filter-tabs {
  position: relative;
  margin-bottom: 20px;
  ul {
    li {
      display: inline-block;
      button {
        height: $button-height;
        margin-right: 10px;
        padding: 0 15px;
        background: none;
        border: none;
        font-weight: 700;
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        color: #535353;
        outline: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          color: #111;
        }

        &.active { 
          color: $main-color;
        }
      }
    }
  }

  .indicator {
      position: absolute;
      left: 0;
      top: ($button-height + 5px);
      height: 4px;
      width: 100px;
      background: $main-green-accent;
      border-radius: 10px;
  }
}
</style>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import anime from 'animejs';

@Component
export default class FilterTabs extends Vue {
    @Prop({ default: [] })
    private tabs: string[];
    private selectedTab: string = '';
    private isDisabled = false;
    private btnClassUpdated = true;

    private created() {
        if (this.tabs.length > 0) {
            this.selectedTab = this.tabs[0];
        }
    }
    private mounted() {
        this.updatedIndicator();
    }

    private onTabClick(tab) {
        this.selectedTab = tab;
        this.btnClassUpdated = true;
        this.$emit('tab-selected', tab);
    }

    private isSelected(tab) {
        return this.selectedTab === tab;
    }

    private updated() {
        if (this.btnClassUpdated) {
            this.updatedIndicator();
        }
    }

    private updatedIndicator() {
        const activeButton: HTMLElement = document.querySelector('.filter-tabs li button.active');
        const indicator = this.$refs.indicator as HTMLElement;

        const indicatorAnimation = anime({
            targets: indicator,
            translateX: activeButton.offsetLeft,
            width: [indicator.clientWidth, activeButton.clientWidth],
            delay: 100,
            duration: 500,
            begin: () => {
                this.btnClassUpdated = false;
                this.isDisabled = true;
            },
            complete: () => {
                this.isDisabled = false;
            },
        });
    }
}
</script>


