<template>
    <div id="headerBar" class="clearfix">
        <div class="content-left">
            <span class="page-title">{{ page() }}</span>
        </div>
        <div class="content-right">
            <b-dropdown variant="link" right size="lg" no-caret>
                <template slot="button-content">
                    <div id="user-holder">
                        <span class="user-bubble">
                            <img src="@/assets/img/avatars/man.png" alt="user icon">
                        </span>
                        <h1 class="username">{{ username() }}</h1>
                        <mdi-chevron-down-icon />
                    </div>
                </template>
                <b-dropdown-item>User Settings</b-dropdown-item>
                <b-dropdown-item>Reset Password</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-item @click.prevent="logout">Logout</b-dropdown-item>
            </b-dropdown>
            <button id="notification-btn">
                <mdi-bell-ring-icon />
                <span></span>
            </button>
        </div>
    </div>
</template>

<style lang="scss">
@import '@/assets/css/globals.scss';

#headerBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 30px;
    height: $header-bar-height;
    box-sizing: border-box;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: rgba(0,0,0,0.05) 0 1px 2px;
}
.content-left {
    float: left;
    font-weight: 700;
    font-size: 22px;
    margin-top: 11px;
    color: #cacaca;

    .page-title {
        font-weight: 900;
        color: $main-color-dark;
        line-height: 45px;
    }
}
.content-right {
    float: right;
    
    .dropdown {
        float: right;
        height: $header-bar-height;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

        &.show {
            background: lighten($main-color, $amount: 40%);
            border-left-color: $main-color;
            border-right-color: $main-color;
            box-shadow: inset rgba(0,0,0,0.1) 0 1px 2px, inset rgba(0,0,0,0.1) 0 -1px 2px;
        }

        button.btn {
            padding: 6px 10px 0 10px;
        }
    }

    .dropdown-menu{
        border-radius: 2px;
        min-width: 180px;

        a {
            font-family: $font-family;
            font-size: 14px;
            font-weight: 700;
            color: #555;

            &:hover {
                color: $main-color;
            }
        }
    }
}
#notification-btn {
    float: right;
    position: relative;
    background: none;
    box-sizing: content-box;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 15px 20px 0 0;

    svg {
        fill: $main-color;
        transition: all 0.2s ease-in-out;
    }

    span {
        position: absolute;
        top: 4px;
        right: 7px;
        height: 10px;
        width: 10px;
        border-radius: 100%;
        border: 2px solid #fff;
        background: #d31717;
        box-shadow: rgba(0,0,0,0.3) 0 0 4px;
    }

    &:hover {
        cursor: pointer;
        svg {
            fill: $main-color-dark;
        }
    }
}
#user-holder {
    cursor: pointer;

    .user-bubble {
        display: inline-block;
        background: #9dc5e6;
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 100%;
        border: 3px solid #fff;
        box-shadow: rgba(0,0,0,0.3) 0 0 4px;
        overflow: hidden;
        outline: none;
        text-align: center;
        transition: all 0.2s ease-in-out;

        img {
            height: 38px;
            width: 38px;
            margin-left: -1px;
        }
    }

    .username {
        display: inline-block;
        vertical-align: top;
        line-height: 38px;
        margin-left: 15px;
        font-size: 14px;
        font-weight: 900;
        color: #555;
        transition: all 0.2s ease-in-out;
    }

    svg {
        display: inline-block;
        vertical-align: top;
        margin: 7px 0 0 5px;
        fill: #555;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        .user-bubble {
            box-shadow: rgba(0,0,0,0.4) 0 0 8px;
        }

        .username {
            color: $main-color;
        }

        svg {
            fill: $main-color;
        }
    }
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import 'mdi-vue/BellRingIcon';
import 'mdi-vue/ChevronDownIcon';

@Component
export default class HeaderBar extends Vue {
    private page() {
        return this.$store.getters.page;
    }

    private username() {
        const firstName: string = this.$store.getters['auth/firstName'];
        const lastName: string = this.$store.getters['auth/lastName'];
        return `${ firstName.substring(0, 1) }. ${ lastName }`;
    }

    private logout() {
        this.$store.dispatch('auth/logout').then(() => {
            this.$router.push('/auth/login');
        });
    }
}
</script>
