<template>
    <div id="sidebar">
        <div id="logo-link">
            <router-link to="/" exact class="animated" active-class="active">
                <span><img src="../assets/img/sprout-logo.png" /></span>
            </router-link>
        </div>
        <ul>
            <router-link v-for="(page, key) in pages" tag="li" :to="page.url" active-class="active" :key="key">
                <a><img class="animated" :src="require(`@/assets/img/${page.imgUrl}`)" /></a>
            </router-link>
        </ul>
    </div>   
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class SidebarMenu extends Vue {
    private pages = [
        { imgUrl: 'application.png', url: '/applications' },
        { imgUrl: 'baby.png', url: '/students' },
        { imgUrl: 'family.png', url: '/guardians' },
        { imgUrl: 'blackboard.png', url: '/classes' },
        { imgUrl: 'dance.png', url: '/curriculars' },
    ];
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/globals.scss';

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    background: $main-color;
    box-shadow: rgba(64, 141, 248, 0.8) 0 0 15px;

    #logo-link {
        display: block;
        position: relative;
        height: ($header-bar-height - 1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0,0,0,0.09) 0 1px 2px;

        a {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all 0.2s ease-in-out;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin: -20px 0 0 -20px;
            span {
                display: block;
                width: 35px;
                height: 35px;
                background: #6ccdfa;
                border-radius: 100%;
                overflow: hidden;
                text-align: center;
                margin: auto;
                border: 2px solid #5c5c5c;
                transition: all 0.2s ease-in-out;

                img {
                    margin-top: 10px;
                    height: 25px;
                }
            }

            &:hover, &.active {
                -webkit-filter: grayscale(0);
                -moz-filter: grayscale(0);
                -o-filter: grayscale(0);
                -ms-filter: grayscale(0);
                filter: grayscale(0);

                span {
                    box-shadow: #2869c5 0 0 10px;
                    border-color: #1454b4;
                }
            }

            &.active {
                animation-name: pulse;
                animation-duration: 0.5s;
            }
        }
    }

    ul {
        li {
            position: relative;
            padding: 20px 0;
            a {
                text-align: center;
                display: block;
                font-size: 24px;
                text-decoration: none;

                img {
                    transition: all 0.2s ease-in-out;
                    width: 36px;
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    filter: grayscale(100%); 
                }

                &:hover {
                    img {
                        -webkit-filter: grayscale(0);
                        -moz-filter: grayscale(0);
                        -o-filter: grayscale(0);
                        -ms-filter: grayscale(0);
                        filter: grayscale(0); 
                    }
                }
            }

            &.active {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -15px;
                    height: 30px;
                    width: 4px;
                    background: $main-green-accent;
                    box-shadow: rgba(0,0,0,0.4) 0 0 10px;
                }

                a {
                    img {
                        -webkit-filter: grayscale(0);
                        -moz-filter: grayscale(0);
                        -o-filter: grayscale(0);
                        -ms-filter: grayscale(0);
                        filter: grayscale(0);
                        animation-name: pulse;
                        animation-duration: 0.5s;
                    }
                }                  
            }
        }
    }
}
</style>

