<template>
    <div id='app-login-page'>
        <div id='login-form'>
          <transition enter-active-class="animated bounceInDown" leave-active-class="animated bounceOutUp">
            <div id="error-box" v-if="errorMsg" class="animated">
              <div>{{ errorMsg }}</div>
            </div>
          </transition>
          <div class="inner">
            <div class="logo">
                <img src="../../assets/img/sprout-logo.png" alt="sprout">
                <span>sprout</span>
            </div>
            <h1 class="title">Welcome Back</h1>
            <button class="login-with-google" :disabled="loading">
                <img src="../../assets/img/google-g.png" alt="G" />
                <span>Login with Google</span>
            </button>
            <div class="divider-with-text"><span>Or Login Traditionally</span></div>
            <div class="form-holder">
                <form @submit.prevent="handleLogin()">
                    <div class="form-row">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="jane.doe" :disabled="loading"
                        v-model="username" v-validate="'required'" :class="{ dirty: fields.username && fields.username.dirty }">
                        <span class="error" v-if="errors.has('username')">{{ errors.first('username') }}</span>
                    </div>
                    <div class="form-row">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="password" :disabled="loading" ref="password"
                        v-model="password" v-validate="'required'" :class="{ dirty: fields.password && fields.password.dirty }">
                        <span class="error" v-if="errors.has('password')">{{ errors.first('password') }}</span>
                    </div>
                    <p-check class="p-icon p-curve p-smooth" color="success" v-model="rememberMe" :disabled="loading">
                        <i slot="extra" class="icon mdi mdi-check"></i>
                        Keep me signed in
                    </p-check>
                    <a href="" class="forgot-pswd">Forgot your password?</a>
                    <button type="submit" :disabled="loading">
                      <span>Log in</span>
                      <i v-if="!loading" class="mdi mdi-arrow-right"></i>
                      <img v-else src="../../assets/img/small-loader.svg" />
                    </button>
                </form>
            </div>
          </div>
        </div>
        <div id='login-side'>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Login extends Vue {
  private username = '';
  private password = '';
  private rememberMe = false;
  private loading = false;
  private errorMsg = null;

  private handleLogin() {
    this.$validator .validateAll().then((result) => {
      if (result) {
        this.loading = true;
        const { username, password } = this;
        this.$store.dispatch('auth/authenticate', { username, password }).then(() => {
          this.$router.push('/');
        }).catch((err) => {
          this.loading = false;
          this.errorMsg = err.data.message;
          setTimeout(() => {
            this.errorMsg = null;
          }, 5000);
        });
      }
    });
  }
}
</script>

<style lang="scss">
@import '@/assets/css/globals.scss';
#app-login-page {
  position: relative;
}
#error-box {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;

  > div {
    display: block;
    width: 80%;
    padding: 15px;
    margin: auto;
    background: #e03939;
    box-shadow: rgba(199, 0, 0, 0.6) 0 0 10px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
  }
}
#login-form {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  right: 50%;
  bottom: 0;
  min-width: 700px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  overflow: auto;

  @media screen and (max-width: 1120px) {
    right: 0;
  }

  .inner {
    width: 55%;
    margin: 80px auto 30px auto;

    .logo {
      text-align: center;
      margin-bottom: 30px;

      img {
        height: 50px;
      }

      span {
        display: inline-block;
        vertical-align: top;
        margin: 18px 0 0 0;
        font-size: 20px;
        font-weight: 700;
        color: #2c3047;
      }
    }

    .title {
      text-align: center;
      font-size: 45px;
      font-weight: 800;
      color: #2c344b;
    }

    .login-with-google {
      position: relative;
      height: 45px;
      margin: 50px auto 0 auto;
      height: 50px;
      width: 100%;
      border-radius: 3px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.08) 0 2px 10px;
      transition: all 0.2s ease-in-out;

      &:not(:disabled):hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0 2px 10px;
        cursor: pointer;
      }

      img {
        position: absolute;
        left: 15px;
        top: 50%;
        margin-top: -10px;
        width: 20px;
      }

      span {
        font-size: 12px;
        font-weight: 700;
        color: #62646e;
      }
    }

    .divider-with-text {
      position: relative;
      display: block;
      width: 100%;
      margin-top: 40px;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -0.5px;
        height: 1px;
        background: #dbdce7;
      }

      span {
        position: relative;
        z-index: 2;
        background: #fff;
        color: #b5b7c3;
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 11px;
      }
    }

    .form-holder {
      width: 100%;
      margin-top: 40px;

      form {
        .form-row {
          margin-bottom: 20px;
          label {
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 700;
          }

          input[type="text"],
          input[type="email"],
          input[type="password"] {
            width: 100%;
            height: 50px;
            padding: 0 15px;
            box-sizing: border-box;
            outline: none;
            border-radius: 2px;
            border: 1px solid #ededed;
            box-shadow: inset rgba(0, 0, 0, 0.02) 0 1px 2px;
            font-size: 14px;
            transition: all 0.2s ease-in-out;

            &::-moz-placeholder {
              color: #cfcfcf;
            }
            &::-ms-input-placeholder {
              color: #cfcfcf;
            }
            &::placeholder {
              color: #cfcfcf;
            }

            &:focus {
              border-color: #3ebef1;
              box-shadow: none;
            }

            &[aria-invalid="true"] {
              border: 1px solid #d81313;
              box-shadow: rgba(216, 19, 19, 0.3) 0 0 6px;
            }

            &[aria-invalid="false"].dirty {
              border: 1px solid #14b922;
              box-shadow: rgba(20, 185, 34, 0.3) 0 0 6px;
            }

            &:disabled {
              border: 1px solid #ddd;
              box-shadow: none;
              background: #fcfcfc;
            }
          }

          span.error {
            color: #af1515;
            font-size: 14px;
            display: block;
            margin-top: 10px;
          }
        }
        .pretty {
          font-size: 14px;
        }
        .forgot-pswd {
          float: right;
          text-decoration: none;
          font-size: 14px;
          color: #3e9af1;

          &:hover {
            text-decoration: underline;
          }
        }
        button[type="submit"] {
          position: relative;
          width: 100%;
          height: 50px;
          margin-top: 30px;
          border-radius: 3px;
          background: $main-color;
          box-shadow: rgba(30, 112, 206, 0.5) 0 1px 2px;
          border: none;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          transition: all 0.2s ease-in-out;

          &:not(:disabled):hover {
            cursor: pointer;
            background: $main-color-dark;
            box-shadow: rgba(18, 82, 155, 0.5) 0 2px 3px;
          }

          &:disabled {
            box-shadow: none;
            background: lighten($main-color, 20%);
          }

          i {
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -8px;
            font-size: 16px;
          }

          img {
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -10px;
            width: 20px;
          }
        }
      }
    }
  }
}
#login-side {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  left: 50%;
  bottom: 0;
  background: url("../../assets/img/learn-bg.jpg") center no-repeat;
  background-size: cover;
}
</style>
